/* Inserta tu CSS aqui */
*{
	color:#BF00FF;
}
.list ul{
	list-style: none;
}
.list li{
	display: inline;
	margin:5%;
}
header{
	margin-top: 25px;
}
.hero{
	background: url(../images/background.jpg)no-repeat;
	height: 600px;
	background-attachment: fixed;
}
.info{
	background: url("../images/tile1.png");
}
.profile{
	float:left;
	margin: 10% 5% 5% 15%;
	padding: auto;
	border:1px solid black;
}
.info h1 {
	margin: 4% 15% 2.5% 10%;
}
.info p{
	margin: 0 15% 10% 10%;
}
.carousel-inner > .item > img,
  	.carousel-inner > .item > a > img {
      width: 30%;
      margin: auto;
 }
 footer{
 	background: url("../images/tile2.png");
 	height: 300px;
 	padding-top: 7%;
	margin-top: 2%;
 }
 footer h3{
	margin-top: -3%;
 }
 .list-ref ul{
	list-style: none;
}
.list-ref li{
	display: inline;
	margin: 20px;
}
.list-ref li img{
	margin-top: 5%;
    width:10%;
    max-width:400px;
}
.tittle{
	margin-top: 10%;
	font-family: 'Chelsea Market', cursive;
	color: white;
}
.frase{
	font-family: 'Indie Flower', cursive;
	font-family: 'Indie Flower', cursive;
	color: white;
}

